openapi: 3.0.0
info:
  title: MyJVN API - JVNDB 脆弱性対策概要情報
  description: >-
    JVN iPedia（JVNDB）に登録されている CVE 脆弱性情報を取得する MyJVN API です。
    IPA と JPCERT/CC が共同運営する脆弱性対策情報データベース JVN iPedia を参照します。
    発見日・更新日・発行日の期間指定、キーワード検索、CVSS 深刻度によるフィルタリングが可能です。
    1 リクエストで最大 50 件取得でき、totalRes と startItem によるページネーションに対応しています。
  version: "1.0"
servers:
  - url: https://jvndb.jvn.jp
paths:
  /myjvn:
    get:
      operationId: GetJVNDBVulnerabilities
      summary: JVNDB から CVE 脆弱性情報リストを取得する
      description: |-
        JVN iPedia（JVNDB）に登録されている CVE 脆弱性情報の概要リストを返します。
        各エントリには JVNDB ID、タイトル、説明、CVE 番号、参照 URL、CVSS スコア、
        発見日 (dc:date)、登録日 (dcterms:issued)、更新日 (dcterms:modified) が含まれます。

        【IMPORTANT - 必須のパラメータ送信ルール】
        このAPIは rangeDatePublic / rangeDatePublished / rangeDateFirstPublished の3つを
        AND条件で評価します。パラメータを省略するとサーバー側で自動的に "w"（過去1週間）が
        適用され、想定より大幅に絞り込まれます（0件になる場合があります）。
        
        必ず以下のルールで3つとも明示してください：
        - 発見日（公表日）で絞り込む場合:
            rangeDatePublic=m, rangeDatePublished=n, rangeDateFirstPublished=n
        - 更新日で絞り込む場合:
            rangeDatePublic=n, rangeDatePublished=m, rangeDateFirstPublished=n
        - 全期間取得する場合:
            rangeDatePublic=n, rangeDatePublished=n, rangeDateFirstPublished=n
        - 過去1週間の発見日で絞り込む場合:
            rangeDatePublic=w, rangeDatePublished=n, rangeDateFirstPublished=n

        【日付フィルタリング】
        - w=過去1週間、m=過去1ヶ月、n=無制限（全期間）。
        - 「直近1ヶ月」「過去1ヶ月」のリクエストには必ず rangeDatePublic=m を指定してください。
        - 「直近1週間」「過去1週間」のリクエストには必ず rangeDatePublic=w を指定してください。
        - 期間絞り込み不要の場合は rangeDatePublic=n を指定してください。
        - エントリは dc:date の降順（新しい順）で返されます。
        - レスポンスの status:Status の totalRes に総件数が入ります。
        - ⚠️ 特定の日付（例：2025年1月1日以降）での絞り込みはこの API はサポートしていません。
          期間コード（w/m/n）のみ使用できます。

        【重要】
        - API は認証不要（無償）です。
        - 1 回のリクエストで取得できる最大件数は 50 件（maxCountItem の上限）です。
        - 本 API のデータ提供元：IPA（独立行政法人 情報処理推進機構）/ JPCERT/CC

        #ExamplePrompts 直近1ヶ月の CVE 脆弱性情報を10件取得してください
        #ExamplePrompts 過去1週間に公開された Windows に関する脆弱性を取得してください
        #ExamplePrompts 深刻度が高い（High）脆弱性を過去1ヶ月分取得してください
        #ExamplePrompts Apache の重大な CVE 脆弱性を検索してください
      parameters:
        - in: query
          name: method
          required: true
          schema:
            type: string
            enum:
              - getVulnOverviewList
            default: getVulnOverviewList
          description: >-
            API メソッド名。常に "getVulnOverviewList" を指定してください。
        - in: query
          name: feed
          required: true
          schema:
            type: string
            enum:
              - hnd
            default: hnd
          description: >-
            フィードバージョン。常に "hnd" を指定してください。
        - in: query
          name: rangeDatePublic
          required: true
          schema:
            type: string
            enum:
              - w
              - m
              - n
            default: m
          description: >-
            発見日（公表日）の期間フィルタ（必須）。
            w=過去1週間、m=過去1ヶ月、n=無制限（全期間）。
            発見日で絞り込む場合は m または w を指定し、
            rangeDatePublished=n かつ rangeDateFirstPublished=n を必ず併せて指定してください。
            絞り込まない場合は n を指定してください。
        - in: query
          name: rangeDatePublished
          required: true
          schema:
            type: string
            enum:
              - w
              - m
              - n
            default: n
          description: >-
            更新日の期間フィルタ（必須）。
            w=過去1週間、m=過去1ヶ月、n=無制限（全期間）。
            発見日（rangeDatePublic）で絞り込む場合は必ず n を指定してください。
            省略するとサーバー側で w（過去1週間）が適用され 0件になる場合があります。
        - in: query
          name: rangeDateFirstPublished
          required: true
          schema:
            type: string
            enum:
              - w
              - m
              - n
            default: n
          description: >-
            JVN iPedia 登録日（発行日）の期間フィルタ（必須）。
            w=過去1週間、m=過去1ヶ月、n=無制限（全期間）。
            発見日（rangeDatePublic）で絞り込む場合は必ず n を指定してください。
            省略するとサーバー側で w（過去1週間）が適用され 0件になる場合があります。
        - in: query
          name: keyword
          required: false
          schema:
            type: string
          description: >-
            キーワード検索。製品名（例: Windows, Apache, OpenSSL）、
            ベンダ名、CVE 番号（例: CVE-2024-）などを指定できます。
            スペースを含む場合はダブルクォートで囲んでください（例: "Oracle Database"）。
        - in: query
          name: severity
          required: false
          schema:
            type: string
            enum:
              - c
              - h
              - m
              - l
              - n
            default: n
          description: >-
            CVSS 深刻度フィルタ（CVSSv3 基準）。
            c=緊急 (Critical/9.0-10.0)、h=重要 (High/7.0-8.9)、
            m=警告 (Medium/4.0-6.9)、l=注意 (Low/0.1-3.9)、n=フィルタなし（デフォルト）。
        - in: query
          name: startItem
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
          description: >-
            取得開始位置（1 始まり）。ページネーション時に使用します。
            例：2 ページ目を取得するには startItem=51 を指定。
        - in: query
          name: maxCountItem
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 10
            default: 10
          description: >-
            1 回のリクエストで取得する最大件数（1〜10、デフォルト 10）。
            ⚠️ レスポンスサイズ制限のため上限は 10 件です。件数を増やすと結果が返らない場合があります。
        - in: query
          name: lang
          required: false
          schema:
            type: string
            enum:
              - ja
              - en
            default: ja
          description: >-
            レスポンス言語。ja=日本語（デフォルト）、en=英語。
      responses:
        "200":
          description: >-
            JVNDB 脆弱性情報リスト（XML/RSS 形式）。
            各 <item> 要素に以下のフィールドが含まれます：
            - sec:identifier: JVNDB ID（例: JVNDB-2024-001234）
            - title: 脆弱性タイトル
            - description: 脆弱性の詳細説明
            - sec:references source="CVE": CVE 番号と NVD URL
            - sec:cvss score: CVSS スコア（score 属性）と深刻度（severity 属性）
            - dc:date: 発見日（公表日）
            - dcterms:issued: JVN iPedia 登録日
            - dcterms:modified: JVN iPedia 最終更新日
            - link: JVNDB エントリの URL
            最後の status:Status タグに totalRes（総件数）と totalResRet（取得件数）が含まれます。
          content:
            application/xml:
              schema:
                type: string
                description: RDF/RSS 形式の XML レスポンス
